CREATE DATABASE BANKA
GO
/****** Object:  Database [Banka]    Script Date: 13.10.2019 23:44:44 ******/
CREATE DATABASE [Banka]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Banka', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Banka.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Banka_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Banka_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Banka].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Banka]
GO
/****** Object:  Table [dbo].[Havale]    Script Date: 13.10.2019 23:44:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Havale](
	[HavaleId] [int] IDENTITY(1,1) NOT NULL,
	[Miktar] [int] NOT NULL,
	[GidenHesapNo] [int] NOT NULL,
	[GelenHesapNo] [int] NOT NULL,
	[MusteriId] [nvarchar](11) NOT NULL,
 CONSTRAINT [PK_Havale] PRIMARY KEY CLUSTERED 
(
	[HavaleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hesaplar]    Script Date: 13.10.2019 23:44:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hesaplar](
	[HesapID] [int] IDENTITY(1,1) NOT NULL,
	[MusteriTc] [nvarchar](11) NOT NULL,
	[HesapNo] [nvarchar](50) NOT NULL,
	[Bakiye] [int] NOT NULL,
	[EkNumara] [int] NOT NULL,
	[HesapDurum] [bit] NOT NULL,
 CONSTRAINT [PK_Hesaplar] PRIMARY KEY CLUSTERED 
(
	[HesapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hgs]    Script Date: 13.10.2019 23:44:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hgs](
	[HgsId] [int] IDENTITY(1,1) NOT NULL,
	[OdemeTipi] [nvarchar](50) NOT NULL,
	[OdemeTutarı] [int] NOT NULL,
	[MusteriId] [nvarchar](11) NOT NULL,
 CONSTRAINT [PK_Hgs] PRIMARY KEY CLUSTERED 
(
	[HgsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kredi]    Script Date: 13.10.2019 23:44:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kredi](
	[KrediId] [int] IDENTITY(1,1) NOT NULL,
	[KrediTutar] [int] NOT NULL,
	[KrediDurum] [bit] NOT NULL,
	[MusteriId] [nvarchar](11) NOT NULL,
 CONSTRAINT [PK_Kredi] PRIMARY KEY CLUSTERED 
(
	[KrediId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Musteriler]    Script Date: 13.10.2019 23:44:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musteriler](
	[TC] [nvarchar](11) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[Soyad] [nvarchar](50) NOT NULL,
	[Cinsiyet] [nvarchar](50) NOT NULL,
	[DoğumTarihi] [nvarchar](50) NOT NULL,
	[Telefon] [nvarchar](11) NOT NULL,
	[EMail] [nvarchar](50) NOT NULL,
	[Adres] [nvarchar](50) NOT NULL,
	[Sifre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Musteriler] PRIMARY KEY CLUSTERED 
(
	[TC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Havale]  WITH CHECK ADD  CONSTRAINT [FK_Havale_Musteriler] FOREIGN KEY([MusteriId])
REFERENCES [dbo].[Musteriler] ([TC])
GO
ALTER TABLE [dbo].[Havale] CHECK CONSTRAINT [FK_Havale_Musteriler]
GO
ALTER TABLE [dbo].[Hesaplar]  WITH CHECK ADD  CONSTRAINT [FK_Hesaplar_Musteriler] FOREIGN KEY([MusteriTc])
REFERENCES [dbo].[Musteriler] ([TC])
GO
ALTER TABLE [dbo].[Hesaplar] CHECK CONSTRAINT [FK_Hesaplar_Musteriler]
GO
ALTER TABLE [dbo].[Hgs]  WITH CHECK ADD  CONSTRAINT [FK_Hgs_Musteriler] FOREIGN KEY([MusteriId])
REFERENCES [dbo].[Musteriler] ([TC])
GO
ALTER TABLE [dbo].[Hgs] CHECK CONSTRAINT [FK_Hgs_Musteriler]
GO
ALTER TABLE [dbo].[Kredi]  WITH CHECK ADD  CONSTRAINT [FK_Kredi_Musteriler] FOREIGN KEY([MusteriId])
REFERENCES [dbo].[Musteriler] ([TC])
GO
ALTER TABLE [dbo].[Kredi] CHECK CONSTRAINT [FK_Kredi_Musteriler]
GO
USE [master]
GO
